@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  max-width: 420px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
}
.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}

body::-webkit-scrollbar {
  display: none !important;
}

body::-webkit-scrollbar-button {
  display: none !important;
}
